body {
  background-color: #fff8ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

:root {
  --app-height: 100%;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: transparent;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  width: 100%;
}

header {
  margin-top: 23px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border-radius: 64px;
  border: 1px solid #FFFFFF;
  padding: 0 20px;
  height: 64px;
}


.header_nav_right,
.header_nav_center,
.header_nav_left_balance_icon,
.header_nav_left_wallet_crystals,
.header_nav_left_wallet_button,
.header_nav_right_user {
  display: flex;
  align-items: center;
}

.header_nav_left_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 8px 0px #A59485AB inset, 0px 1px 1px 0px #FFFFFF7A;
  width: 136px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
}

.header_nav_left .header_nav_left_box:nth-child(2) {
  margin-top: 4px;
}

.header_nav_left_box span {
  width: 16px;
  height: 15px;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  border: 1px solid #FFFFFF7A;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #553216;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
}

.header_nav_left_box span:nth-child(3) {
  font-size: 13px;
  line-height: 10px;
}

.header_nav_left_box_center {
  display: flex;
  align-items: center;
}

.header_nav_left_box_center img {
  width: 16px;
  height: 16px;
}

.header_nav_left_box_center p {
  color: #553216;
  font-size: 10px;
  margin-left: 3px;
}

.header_nav_center a {
  color: #553216;
  font-size: 16px;
  transition: .3s;
}

.header_nav_center a:hover {
  color: #f44433;
}

.header_nav_center_line {
  margin: 0 24px;
  width: 1px;
  height: 24px;
  background: #C3A790;
}

.header_nav_center a img {
  margin: 0 27px;

}

.header_nav_center_logo {
  position: relative;
}

.header_nav_center_logo::after {
  content: '';
  position: absolute;
  width: 31px;
  height: 31px;
  background-image: url(../img/icon/logo_add.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  top: 20px;
  right: 2px;
  z-index: 2;
}

.header_nav_right_user_info {
  margin-left: 12px;
}

.header_nav_right_user_info span {
  margin-bottom: 4px;
  display: block;
  font-size: 16px;
  color: #553216;
}

.header_nav_right_user_info_line {
  box-shadow: 0px 2px 8px 0px #A59485AB inset, 0px 1px 1px 0px #FFFFFF7A;
  background: #DECA9B;
  width: 90px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.header_nav_right_user_info_line::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(70% - 4px);
  background: linear-gradient(180deg, #5A19CF 0%, #9845EE 100%);
  content: '';
  display: block;
  height: calc(100% - 4px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header_nav_right_user_info_line p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  padding-left: 4px;
  position: relative;
  z-index: 2;
}

.header_nav_right_button {
  margin-left: 33px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF7A;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  box-shadow: 4px 4px 24px 0px #A76F423D;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.main_subtittle {
  margin-top: 96px;
  font-family: 'Titan One';
  font-size: 66px;
  font-weight: 400;
  line-height: 66px;
  text-align: center;
  color: #fff;
  width: 100%;
  text-stroke: 4px #F66532;
  -webkit-text-stroke: 4px #F66532;
}

.main h1 {
  font-family: 'Titan One';
  font-size: 74px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  margin-top: 8px;
  text-align: center;
  background-color: #F33834;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  text-stroke: 3px #FFFFFF;
  text-transform: uppercase;
}

.main_wrap {
  width: 100%;
  height: 580px;
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrap_tower {
  position: absolute;
  left: 28px;
  bottom: 0;
}

.main_wrap_bg_box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1129px;
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.17);
}

.main_wrap_bg_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.main_wrap_box {
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 600px;

}

.main_wrap_box_sliderCoin {
  height: 72px;
  margin-top: -140px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.main_wrap_box_sliderCoin_item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.main_wrap_box_sliderBallons {
  height: 600px;
  padding-top: 00px;
}

.main_wrap_box_sliderBallons_item {
  height: 600px;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  padding-top: 150px;
}

.main_wrap_box_sliderBallons_item img.img_anim {
  height: 200px;
  transition: .6s;
  margin: 0 auto;
  margin-bottom: 160px;
}

.slick-slide.slick-current.slick-active+.slick-slide.slick-active img.img_anim {
  transform: scale(2.5);
  opacity: 1;
  z-index: 10;
  filter: blur(0px);
}

.slick-slide.slick-active img.img_anim {
  transform: scale(0.5) translateY(100px);
  opacity: .56;
  filter: blur(3px);
}

.slick-slide img.img_anim {
  opacity: 0;
  filter: blur(3px);
  transform: scale(0.0) translateX(400px);
}

.main_wrap_box_sliderBallons_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 320px;
  left: 0;
  z-index: 12;
}

.main_wrap_box_sliderCoin_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 105px;
  left: 0;
  z-index: 12;
}

.main_wrap_box_sliderBallons_nav div,
.main_wrap_box_sliderCoin_nav div {
  width: 40px;
  height: 40px;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border: 1px solid #F44B33;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: inherit;
  z-index: 12;
}

.main_wrap_box_sliderCoin_nav div {
  border: 1px solid #553216;
}

.main_wrap_box_sliderBallons_nav div:hover,
.main_wrap_box_sliderCoin_nav div:hover {
  box-shadow: 1px 1px 1px 0px #FFFFFF, 4px 4px 8px 0px #848484 inset;
  border: 1px solid transparent;
}

.main_wrap_box_sliderBallons_nav div svg path {
  transition: .3s;
}

.main_wrap_box_sliderBallons_nav div:hover svg path {
  fill: #F44B33;
}

.main_wrap_box_sliderCoin_item_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #FFFFFF52;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border-radius: 72px;
  width: 168px;
  height: 72px;
  transition: .3s;
}

.main_wrap_box_sliderCoin_item_box img {
  width: 32px;
  height: 32px;
}

.main_wrap_box_sliderCoin_item_box_info {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.main_wrap_box_sliderCoin_item_box_info p {
  font-size: 16px;
  color: #553216;
  margin-right: 4px;
  text-shadow: 2px 0px 1px #fff;
}

.slick-slide.slick-current.slick-active+.slick-slide.slick-active .main_wrap_box_sliderCoin_item_box {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
  filter: blur(0px);
}

.slick-slide.slick-active .main_wrap_box_sliderCoin_item_box {
  transform: scale(0.5);
  opacity: .56;
  filter: blur(3px);
}

.slick-slide .main_wrap_box_sliderCoin_item_box {
  opacity: 0;
  filter: blur(3px);
  transform: scale(0.0);
}

.main_race {
  margin-top: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 72px;
  border-radius: 72px;
  background: linear-gradient(180deg, #FCBD3F 0%, #F23B34 70.6%);
  box-shadow: 4px 4px 24px 0px #00000029;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  transition: .3s;
}

.main_race:hover {
  box-shadow: 1px 1px 4px 0px #00000040, 8px 8px 8px 0px #00000052 inset;

}

.main_race span {
  font-size: 16px;
  color: #fff;
  margin-left: 8px;
}

.main_race img {
  width: 42px;
  height: 24px;
  object-fit: cover;
}

.main_wrap_detals {
  width: 32px;
  height: 32px;
  background: linear-gradient(180deg, #FCBD3F 0%, #F23B34 70.6%);
  box-shadow: 4px 4px 24px 0px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 720px;
  z-index: 3;
  cursor: pointer;
}

.main_wrap_cloud {
  position: absolute;
  transition: .3s;
  z-index: 10;
  pointer-events: none;
}

.main_wrap_cloud.cloud2 {
  top: 120px;
  right: 20px;
}

.main_wrap_cloud.cloud1 {
  top: 167px;
  right: 159px;
}

.main_wrap_cloud.cloud3 {
  top: 280px;
  left: 330px;
}

.main_partners {
  margin-top: 64px;
}

.main_partners img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main_partners_box {
  margin-top: 40px;
  width: 100%;
  padding: 48px 48px 24px 48px;
  border-radius: 96px;
  background: linear-gradient(180deg, #FFF7E5 0%, #F0E0BE 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main_partners_box::after {
  background: linear-gradient(90deg, #F9DFAD 0%, #F0907C 100%);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  content: '';
  border-radius: 96px;
  display: block;
  position: absolute;
  z-index: -1;
}

.main_partners_box a {
  text-decoration: none;
  width: 240px;
  height: 112px;
  margin-bottom: 24px;
}

.main_partners_box a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  margin-top: 72px;
}

.footer_box {
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border-radius: 96px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer_box_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border: 1px solid #FFFFFF52;
  border-radius: 40px;
  width: calc(25% - 24px);
  height: 40px;
  transition: .3s;
}

.footer_box_item:hover {
  background: #DECA9B;
  box-shadow: 1px 1px 4px 0px #FFFFFF, 4px 4px 8px 0px #848484 inset;
}

.footer_box_item span {
  margin-left: 4px;
  font-size: 16px;
  color: #553216;
}

.main_wrap_bottom {
  display: none;
}

.pop_detals {
  width: 550px;
  padding: 32px;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  font-size: 16px;
  color: #553216;
  position: absolute;
  z-index: 12;
  border-radius: 64px;
  left: 50%;
  transform: translateX(-50%);
  top: 500px;
  display: none;
}

.pop_detals.active {
  display: block;
}

.pop_game {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #3E84E3 0.4%, #BBE5EF 98.87%);
  display: none;
  overflow: hidden;
}

.pop_game.active {
  display: block;
}

.pop_game.active.filter {
  filter: blur(3px);
}

.pop_game_wrap {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  height: calc(100vh - 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop_game_wrap_avatar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;
}

.pop_game_wrap_avatar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/5);
  position: relative;
}

.pop_game_wrap_avatar_item::after {
  content: '';
  display: block;
  bottom: -63px;
  left: 10px;
  width: calc(100% - 20px);
  position: absolute;
  height: 8px;
  background-image: url(../img/icon/finish.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pop_game_wrap_avatar_item span {
  color: #fff;
  font-family: 'Titan One';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  display: block;
  margin-top: 16px;
  text-stroke: 1px #F66532;
  -webkit-text-stroke: 1px #F66532;
}

.pop_game_wrap_ballons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.pop_game_wrap_ballons_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%/5);
  position: relative;
  height: 295px;
}

.pop_game_wrap_ballons_item_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pop_game_wrap_ballons_item_box_ballons {
  width: 116px;
}

.pop_game_wrap_ballons_item_box_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
  width: 100%;
  height: 30px;
  position: relative;
}

.pop_game_wrap_ballons_item_box_rating::after {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  background: #fff;
  content: '';
  opacity: .56;
  display: block;
  z-index: -1;

}

.pop_game_wrap_ballons_item_box_rating p {
  font-size: 14px;
  margin-left: 4px;
}

.low .pop_game_wrap_ballons_item_box_rating p {
  color: #E24513;
}

.high .pop_game_wrap_ballons_item_box_rating p {
  color: #097742;
}

.low .pop_game_wrap_ballons_item_box_rating span {
  border: 5px solid transparent;
  border-top: 5px solid #E24513;
  margin-top: 5px;
}

.high .pop_game_wrap_ballons_item_box_rating span {
  border: 5px solid transparent;
  border-bottom: 5px solid #097742;
  margin-top: -5px;
}

.pop_game_wrap_ballons_item_box_info {
  background: #E3D0A4;
  box-shadow: 0px 4px 8px 0px #A59485 inset, 0px 1px 1px 0px #FFFFFF7A;
  border: 1px solid #FFFFFF;
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 20px;
  width: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop_game_wrap_ballons_item_box_info div {
  display: flex;
  align-items: center;
}

.pop_game_wrap_ballons_item_box_info div:nth-child(1) {
  margin-bottom: 4px;
}

.pop_game_wrap_ballons_item_box_info div p {
  margin-left: 4px;
  font-size: 14px;
}

.low .pop_game_wrap_ballons_item_box_info div p {
  color: #E24513;
}

.high .pop_game_wrap_ballons_item_box_info div p {
  color: #097742;
}

.low .pop_game_wrap_ballons_item_box_info div span {
  border: 5px solid transparent;
  border-top: 5px solid #E24513;
  margin-top: 5px;
}

.high .pop_game_wrap_ballons_item_box_info div span {
  border: 5px solid transparent;
  border-bottom: 5px solid #097742;
  margin-top: -5px;
}

.pop_game_sun {
  position: absolute;
  top: -20px;
  left: -20px;
}

.pop_game_earth {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.pop_game_earth img {
  width: 100%;
}

.pop_game_oblako {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.pop_game_oblako.active {
  animation: moveOblako 15s ease-in-out forwards;
}

@keyframes moveOblako {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -700px;
  }
}

.pop_game_countdown_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  border: 2px solid #FFFFFF;
  position: absolute;
  border-radius: 50%;
  transition: .3s;
}

.pop_game_countdown.active {
  transform: scale(.3);
  left: calc(100% - 140px);
  top: 50px;
}

.pop_game_countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  position: absolute;
  top: 25%;
  left: calc(50% - 84px);
  transition: .3s;
}

.pop_game_countdown span {
  font-family: 'Titan One';
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  display: block;
  margin: 0 8px;
  color: #fff;
  -webkit-text-stroke: 3px #F2705C;
  /* Толщина и цвет обводки */
  text-stroke: 3px #F2705C;
}

.pop_game_close {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  border-radius: 50%;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  width: 48px;
  height: 48px;
  z-index: 5;
}

.pop_game_ob1 {
  position: absolute;
  top: 290px;
  left: calc((100% - 1146px)/2 + 50px);
  z-index: -2;
  pointer-events: none;
}

.pop_game_ob1.active {
  animation: moveOb1 38s ease-in-out forwards;
}

@keyframes moveOb1 {
  0% {
    top: 290px;
  }

  100% {
    top: 1100px;
  }
}

.pop_game_ob1_1 {
  position: absolute;
  top: -150px;
  left: calc((100% - 1146px)/2 + 270px);
  transform: scale(.5);
}

.pop_game_ob1_1.active {
  animation: moveOb1_1 39s ease-in-out forwards 9s;
}

@keyframes moveOb1_1 {
  0% {
    top: -150px;
  }

  100% {
    top: 1200px;
  }
}

.pop_game_ob3 {
  position: absolute;
  bottom: 390px;
  left: calc((100% - 1146px)/2 + 400px);
  z-index: -2;
  pointer-events: none;
}

.pop_game_ob3.active {
  animation: moveOb3 36s ease-in-out forwards;
}

@keyframes moveOb3 {
  0% {
    bottom: 390px;
  }

  100% {
    bottom: -200px;
  }
}

.pop_game_ob3_1 {
  position: absolute;
  top: -390px;
  right: calc((100% - 1146px)/2 + 10px);
  z-index: -2;
  pointer-events: none;
  transform: scale(1.3);
}

.pop_game_ob3_1.active {
  animation: moveOb3_1 34s ease-in-out forwards 19s;
}

.pop_game_ob4_1 {
  position: absolute;
  top: -390px;
  left: calc((100% - 1146px)/2 + 140px);
  z-index: -2;
  pointer-events: none;
  transform: scale(1.5);
}

.pop_game_ob4_1.active {
  animation: moveOb3_1 34s ease-in-out forwards 37s;
}

@keyframes moveOb3_1 {
  0% {
    top: -390px;
  }

  100% {
    top: 1100px;
  }
}

.pop_game_ob2 {
  position: absolute;
  top: 220px;
  right: calc((100% - 1146px)/2 + 122px);
  z-index: -2;
  pointer-events: none;
}

.pop_game_ob2.active {
  animation: moveOb2 37s ease-in-out forwards;
}

@keyframes moveOb2 {
  0% {
    top: 220px;
  }

  100% {
    top: 1200px;
  }
}

.pop_game_pt1 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  top: 200px;
  left: calc((100% - 1146px)/2 + 220px);
}

.pop_game_pt1.active {
  animation: movePt1 31s ease-in-out forwards;
}

@keyframes movePt1 {
  0% {
    top: 200px;
  }

  100% {
    top: 1200px;
  }
}

.pop_game_pt2 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  top: 210px;
  left: calc((100% - 1146px)/2 + 740px);
}

.pop_game_pt2.active {
  animation: movePt2 32s ease-in-out forwards;
}

@keyframes movePt2 {
  0% {
    top: 210px;
  }

  100% {
    top: 1200px;
  }
}

.pop_game_pt3 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  top: 410px;
  left: calc((100% - 1146px)/2 + 780px);
}

.pop_game_pt3.active {
  animation: movePt3 29s ease-in-out forwards;
}

@keyframes movePt3 {
  0% {
    top: 410px;
  }

  100% {
    top: 1200px;
  }
}

.pop_game_earth.active {
  animation: moveEarth 31s ease-in-out forwards;
}

@keyframes moveEarth {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -540px;
  }
}

.audio_control {
  position: fixed;
  top: 90px;
  right: calc((100% - 1130px)/2);
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #FFFFFF;
  padding: 5px 7px;
  cursor: pointer;
  transition: .3s;
}
.audio_control.game{
  right: 32px;
  top: 190px;
  z-index: 21;
}
.audio_control span{
  display: block;
  text-transform: uppercase;
  font-family: 'Titan One';
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-align: center;
  background-color: #F33834;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.2px #FFFFFF;
  text-stroke: 1.2px #FFFFFF;
  text-transform: uppercase;
}

.audio_control:hover {
  opacity: 1;
}


.pop_win {
  z-index: 22;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #553216BD;
  display: none;
}

.pop_win.active {
  display: block;
}

.pop_win_box {
  position: absolute;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border-radius: 32px;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  padding: 50px;
}

.pop_win_box_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.pop_win_box_item span {
  font-family: 'Titan One';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-stroke: 1px #F66532;
  -webkit-text-stroke: 1px #F66532;

}

.pop_win_box_item_box {
  width: 100%;
  height: 34px;
  background: #DECA9B;
  box-shadow: 0px 2px 8px 0px #A59485CC inset, 0px 2px 1px 0px #FFFFFFB8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 10px;
  position: relative;
}

.pop_win_box_item_box i {
  position: absolute;
  top: -17px;
  left: -17px;
}

.pop_win_box_item_box i img {
  width: 68px;
  height: 68px;
}

.pop_win_box_item_box p {
  line-height: 34px;
  font-size: 16px;
  color: #553216;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.pop_win_box_exp {
  margin-top: 16px;
  font-family: 'Titan One';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #F33834;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
  text-stroke: 1px #FFFFFF;
  text-transform: uppercase;
}

.pop_win_ura {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 500px;
  top: -20px;
}

.pop_win_lenta {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 600px;
  top: 220px;
}

.leader h1 {
  font-family: 'Titan One';
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  text-stroke: 3px #FFFFFF;
  text-transform: uppercase;
  font-size: 72px;
  margin-top: 80px;
}

.leader_box {
  display: flex;
  align-items: center;
  margin-top: 56px;
  justify-content: center;
}

.leader_box_data {
  position: relative;
  box-shadow: 0px 2px 8px 0px #A59485CC inset, 0px 2px 1px 0px #FFFFFFB8;
  background: #DECA9B;
  width: 288px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.leader_box_data i {
  position: absolute;
  top: 8px;
  right: 24px;
}

.leader_box_data p {
  color: #553216;
  font-size: 16px;
  line-height: 40px;
  padding-left: 24px;
}

.leader_box_checkbox {
  display: flex;
  align-items: center;
  margin-left: 34px;
}

.leader_box_checkbox_input {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.leader_box_checkbox_input input {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.leader_box_checkbox_input label {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: #DECA9B;
  box-shadow: 0px 2px 8px 0px #A59485CC inset, 0px 2px 1px 0px #FFFFFFB8;
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
  transition: .3s;
  position: relative;
  z-index: -1;
}

.leader_box_checkbox_input label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  top: 3px;
  left: 5px;
  border: 2px solid #553216;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: .3s;
}


.leader_box_checkbox span {
  margin-left: 8px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #553216;
}

.leader_box_checkbox_input input[type=radio]:checked+label:after {
  opacity: 1;
}

.leader_box_checkbox_input input:checked~label {
  border: 1px solid #553216
}

.leader_wrap {
  margin-top: 56px;
}

.leader_wrap_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  height: 64px;
  border-radius: 24px;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #F0907C;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  padding: 12px 24px;
}

.leader_wrap_item_box {
  display: flex;
  align-items: center;
}

.leader_wrap_item_box_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.leader_wrap_item_box_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.leader_wrap_item_box_data {
  margin: 0 24px 0 13px;
}

.leader_wrap_item_box_data span {
  margin-bottom: 8px;
  font-family: 'Titan One';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F68D2D;
  text-stroke: 1px #F68D2D;
}

.leader_wrap_item_box_total {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.leader_wrap_item_box_total.win {
  color: #22975F;
}

.leader_wrap_item_box_total.loss {
  color: #E24513;
}

.leader_wrap_item_center {
  font-family: 'Titan One';
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #F68D2D;
  text-stroke: 2px #F68D2D;
  width: 72px;
  flex-shrink: 0;
}

.leader_wrap_item_box {
  width: calc(50% - 40px);
}

.leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_range {
  margin-left: 24px;
}

.leader_wrap_item .leader_wrap_item_box:nth-child(1) .leader_wrap_item_box_range {
  marginright: 24px;
}

.leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_data {
  margin: 0 13px 0 24px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.leader_wrap_item .leader_wrap_item_box:nth-child(3) {
  justify-content: flex-end;
}

.leader_box_checkbox_wrap {
  display: flex;
  align-items: center;
}

.tasks_header {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.tasks_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.tasks_box_item {
  width: calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  padding: 16px 24px;
  height: 76px;
  border-radius: 24px;
}

.tasks_box_item_body {
  width: 100%;
}

.tasks_box_item_body p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #553216A3;
  margin-top: 8px;
}

.tasks_box_item_body span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #553216;
}

.tasks_box_item i {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  border: 1px solid #FFFFFF7A;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
}

.tasks_box_item i:hover {
  background: #DECA9B;
  box-shadow: 1px 1px 4px 0px #FFFFFF, 4px 4px 8px 0px #848484 inset;
}

.complete .tasks_box_item {
  background: linear-gradient(0deg, #BEAF9E, #BEAF9E);
}

.complete .tasks_box_item i {
  border: 1px solid #553216;
  background: transparent;
  opacity: .5;
}

.complete .tasks_box_item p,
.complete .tasks_box_item span {
  opacity: .5;
}

.faq_accordion {
  margin-top: 56px;
}

.faq_accordion_item {
  position: relative;
  margin-left: 54px;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #F0907C;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border-radius: 24px;
  padding: 20px 24px;
  margin-bottom: 16px;
}

.faq_accordion_item::after {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF7A;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  background: linear-gradient(135.91deg, #FFF7E5 15.62%, #E0CB9A 55%);
  top: 12px;
  right: 24px;
  pointer-events: none;
}

.faq_accordion_item::before {
  position: absolute;
  content: '+';
  display: block;
  top: 17.5px;
  right: 36px;
  font-size: 30px;
  line-height: 30px;
  color: #553216;
  z-index: 1;
  pointer-events: none;
}

.open.faq_accordion_item::before {
  position: absolute;
  content: '-';
  display: block;
  top: 15.5px;
  right: 39px;
  font-size: 30px;
  line-height: 30px;
  color: #553216;
  z-index: 1;
  pointer-events: none;
}

.faq_accordion_item_header {
  font-family: 'Titan One';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 100%;
  text-stroke: 1px #F66532;
  -webkit-text-stroke: 1px #F66532;
  color: #fff;
  cursor: pointer;
  padding-right: 48px;
  padding-left: 24px;
}

.faq_accordion_item_header i {
  font-family: 'Titan One';
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  text-stroke: 3px #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: -54px;
  font-style: normal;
}

.faq_accordion_item_body {
  margin-top: 20px;
  background: #DECA9B;
  box-shadow: 0px 2px 8px 0px #A59485CC inset, 0px 2px 1px 0px #FFFFFFB8;
  border-radius: 20px;
  padding: 32px 24px 24px 24px;
  color: #553216;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: none;
}

.board_box .faq_accordion_item::after {
  display: none;
}

.board_box .faq_accordion_item::before {
  display: none;
}

.board_box .faq_accordion_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 64px;
}

.board_box_wrap {
  display: flex;
  align-items: center;
}

.board_box .faq_accordion_item i {
  font-family: 'Titan One';
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 2px #F68D2D;
  text-stroke: 2px #F68D2D;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: -64px;
  font-style: normal;
}

.board_box {
  margin-top: 48px;
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.faq_accordion_item .board_box_wrap:nth-child(3) p {
  font-size: 24px;
  line-height: 100%;
  color: #553216;
}

.faq_accordion_item .board_box_wrap:nth-child(3) span {
  font-size: 16px;
  line-height: 100%;
  color: #553216;
  opacity: .7;
}

.board_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.board_wrap_item {
  width: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.board_wrap_item_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.board_wrap_item_head span {
  margin-bottom: 8px;
  font-family: 'Titan One';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F68D2D;
  text-stroke: 1px #F68D2D;
  margin-top: 15px;
  text-align: center;
}

.board_wrap .board_wrap_item:nth-child(1),
.board_wrap .board_wrap_item:nth-child(3) {
  margin-top: 90px;
}

.board_wrap_item_body {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #FFF7E5 0.78%, #E0CB9A 59.38%);
  border: 1px solid #F0907C;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  position: absolute;
  border-radius: 24px;
  width: calc(100% + 20px);
  justify-content: center;
}

.board_wrap .board_wrap_item:nth-child(1) .board_wrap_item_body {
  height: 120px;
  top: 120px;
}

.board_wrap .board_wrap_item:nth-child(3) .board_wrap_item_body {
  height: 90px;
  top: 150px;
}

.board_wrap .board_wrap_item:nth-child(2) .board_wrap_item_body {
  height: 180px;
  top: 160px;
  z-index: 2;
}

.board_wrap_item_body span {
  color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #F68D2D;
  text-stroke: 2px #F68D2D;
  font-family: 'Titan One';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

.board_wrap_item_body p {
  font-family: 'Titan One';
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  background-image: linear-gradient(180deg, #F68D2D 0%, #F33834 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  text-stroke: 3px #FFFFFF;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}

.board_wrap_item_body.first {
  flex-direction: column;
}

.board_wrap_item_body.first div {
  display: flex;
}

.board_wrap_item_head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
}

.board_wrap_item_head div::after {
  border: 2px solid #fff;
  content: '';
  background: linear-gradient(180deg, #FFF7E5 0.78%, #E0CB9A 59.38%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.board_wrap_item_head div::before {
  content: '';
  background: linear-gradient(129.22deg, #FCB93F 14.57%, #F33C35 84.67%);
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.board_wrap_item_head div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 19;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border-radius: 32px;
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  padding: 0 36px 36px 36px;
  min-width: 280px;
  max-width: 480px;
  display: none;
}

.pop_up.active {
  display: block;
}

.pop_up_head {
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  border-radius: 48px;
  width: calc(100% - 72px);
  position: absolute;
  top: -24px;
  left: 36px;
  font-family: 'Titan One';
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #553216;
  height: 48px;
  text-stroke: 0.5px #Fff;
  -webkit-text-stroke: 0.5px #Fff;
}

.pop_up_head_body_headling {
  margin-top: 48px;
  font-family: 'Titan One';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-stroke: 1.5px #f66532;
  -webkit-text-stroke: 1.5px #f66532;
  margin-bottom: 20px;
}

.pop_up_head_body_input {
  position: relative;
  width: 100%;
  height: 40px;
  background: #DECA9B;
  box-shadow: 0px 2px 8px 0px #A59485CC inset, 0px 2px 1px 0px #FFFFFFB8;
  border-radius: 20px;
}

.pop_up_head_body_input input {
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0 60px 0 16px;
}

.pop_up_head_body_input_box {
  position: absolute;
  top: 8px;
  right: 36px;
  cursor: pointer;
}

.pop_up_head_body_input_box_wrap {
  display: none;
  position: absolute;
  bottom: -30px;
  left: -3px;
}

.pop_up_head_body_input_box_coin img {
  width: 24px;
  height: 24px;
}

.pop_up_head_body_input_box_coin {
  position: relative;
}

.pop_up_head_body_input_box_coin::after {
  content: '';
  width: 9px;
  height: 4.5px;
  display: block;
  background-image: url(../img/icon/pop_up_down.png);
  background-position: center;
  right: -17px;
  top: 10px;
  position: absolute;
}

.pop_up_head_body_submit {
  margin-top: 45px;
  width: 100%;
  height: 40px;
  border-radius: 72px;
  cursor: pointer;
  background: linear-gradient(180deg, #FCBD3F 0%, #F23B34 70.6%);
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 24px 0px #00000029;
  transition: .3s;
}

.pop_up_head_body_submit:hover {
  box-shadow: 1px 1px 4px 0px #00000040, 8px 8px 8px 0px #00000052 inset;

}

.pop_up_head_body button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
  border-radius: 40px;
  border: 1px solid #FFFFFF52;
  box-shadow: 4px 4px 24px 0px #A76F423D;
  margin-top: 12px;
  cursor: pointer;
  transition: .3s;
}

.pop_up_head_body button:hover {
  background: #DECA9B;
  box-shadow: 1px 1px 4px 0px #FFFFFF, 4px 4px 8px 0px #848484 inset;
}

.pop_up_head_body button p {
  color: #553216;
  font-size: 16px;
  text-transform: uppercase;
}

.pop_up_head_body button img {
  margin-right: 8px;
}

.pop_up_search_icon {
  margin: 36px auto -32px auto;
  display: block;
}

@media (max-width: 1170px) {
  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pop_game_wrap {
    width: 850px;
  }

  .audio_control {
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    padding: 3px 5px;
  }
}

@media (max-width: 920px) {
  .container {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .main_wrap_detals {
    top: 50px;
    left: 620px;
    z-index: 3;
    cursor: pointer;
  }

  header {
    margin-top: 0px;
  }

  .header_nav_center {
    display: none;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
    box-shadow: 4px 4px 24px 0px #A76F423D;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0 15px;
    height: 70px;
  }

  .header_nav_right_button {
    display: none;
  }

  .main_subtittle {
    margin-top: 66px;
    font-size: 46px;
    line-height: 46px;
  }

  .main h1 {
    font-size: 54px;
    line-height: 54px;
  }

  .main_partners {
    display: none;
  }

  .pop_detals {
    top: 410px;
  }

  .pop_game_wrap {
    width: auto;
    padding: 0 20px;
  }

  .pop_game_wrap_avatar_item img {
    width: 40px;
    height: 40px;
  }

  .pop_game_wrap_avatar {
    margin-top: 48px;
  }

  .pop_game_wrap_avatar_item span {
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    margin-top: 8px;
  }

  .pop_game_close {
    top: 12px;
    right: 20px;
    width: 24px;
    height: 24px;
  }

  .pop_game_close svg {
    width: 12px;
    height: 12px;
  }

  .pop_game_countdown.active {
    transform: scale(.26);
    left: calc(100% - 120px);
    top: -25px;
  }

  .pop_game_countdown.active span {
    font-size: 35px;
  }

  .pop_game_countdown.active img {
    display: none;
  }

  .pop_game_countdown {
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
  }

  .pop_game_countdown_box {
    width: 96px;
    height: 96px;
  }

  .pop_game_countdown_box img {
    width: 20px;
  }

  .pop_game_countdown span {
    font-size: 30px;
    line-height: 30px;
    margin: 0 5px;
    color: #fff;
    -webkit-text-stroke: 2px #F2705C;
    text-stroke: 2px #F2705C;
  }

  .pop_game_wrap_ballons_item_box_ballons {
    width: 70px;
  }

  .pop_game_wrap_ballons_item_box_info div:nth-child(1) p {
    display: none;
  }

  .pop_game_wrap_ballons_item_box_info {
    margin-top: 8px;
    padding: 8px 12px;
    min-width: 80px;
    width: 100%;
  }

  .pop_game_wrap_ballons_item {
    height: 206px;
  }

  .pop_game_wrap_ballons_item_box_rating {
    margin-bottom: 8px;
    height: 25px;
  }

  .pop_game_ob2 {
    top: 220px;
    right: 80px;
  }

  .pop_game_ob3 {
    bottom: 360px;
    left: 400px;
  }

  .pop_game_ob1 {
    top: 290px;
    left: 50px;
  }

  @keyframes moveOb3 {
    0% {
      bottom: 360px;
    }

    100% {
      bottom: -200px;
    }
  }

  .pop_game_ob3_1 {
    right: 80px;
  }

  .pop_game_ob1_1 {
    left: 70px;
  }

  .pop_game_pt1 {
    left: 120px;
  }

  .pop_game_pt2 {
    left: initial;
    right: 130px;
  }

  .pop_game_pt3 {
    right: 80px;
    left: initial;
  }

  .pop_game_ob4_1 {
    left: 70px;
    transform: scale(1.3);
  }

  .leader {
    width: auto;
    padding: 0 15px;
  }

  .leader h1 {
    font-size: 52px;
    line-height: 100%;
    margin-top: 50px;
  }

  .leader_box {
    margin-top: 36px;
  }

  .leader_wrap {
    margin-top: 36px;
  }

  .leader_wrap_item {
    margin-bottom: 8px;
    height: 54px;
    padding: 6px 12px;
  }

  .leader_wrap_item_box_avatar {
    width: 24px;
    height: 24px;
  }

  .leader_wrap_item_box_data {
    margin: 0 12px 0 6px;
  }

  .leader_wrap_item_box_data span {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 12px;
  }

  .leader_wrap_item_box_total {
    font-size: 10px;
    line-height: 10px;
  }

  .leader_wrap_item_center {
    font-size: 28px;
    line-height: 28px;
    width: 50px;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_range {
    margin-left: 12px;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(1) .leader_wrap_item_box_range {
    margin-right: 12px;
  }

  .leader_wrap_item_box_range {
    width: 24px;
    height: 20px;
  }

  .leader_wrap_item_box_range img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_data {
    margin: 0 6px 0 12px;
  }
  .audio_control {
    top: 75px;
    right: 20px;
  }
  .audio_control.game{
    right: 97px;
    top: 12px;
    z-index: 21;
  }
  .pop_game_wrap_avatar_item{
    padding-bottom: 7px;
  }
  .pop_game_wrap_avatar_item::after {
    bottom: -23px;
    height: 6px;
    
}

}

@media (max-width: 720px) {
  .main {
    background-image: url(../img/img/bg_main_mobail.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
  }

  .main_subtittle {
    margin-top: 0px;
    font-size: 36px;
    line-height: 36px;
    padding-top: 66px;
  }

  .main h1 {
    font-size: 44px;
    line-height: 44px;
    margin-top: 20px;
  }

  .main_wrap_bg_box {
    display: none;
  }

  footer {
    display: none;
  }

  .main_wrap_cloud.cloud1 {
    display: none;
  }

  .main_wrap_cloud.cloud3 {
    top: 280px;
    left: 130px;
    opacity: .8;
  }

  .main_wrap_cloud.cloud2 {
    top: 120px;
    right: 20px;
    opacity: .9;
  }

  .main_race {
    display: none;
  }

  .main_wrap_box_sliderCoin {
    margin-top: -35px;
  }

  .main_wrap_box_sliderCoin_nav {
    bottom: 0px;
  }

  .main_wrap_bottom {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 0 45px;
    align-items: center;
    bottom: -400px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #FFF7E5 0%, #E0CB9A 58.59%);
    box-shadow: 4px 4px 24px 0px #A76F423D;
    height: 48px;
  }

  .leader .main_wrap_bottom {
    position: relative;
    bottom: initial;
    left: initial;
    margin: 50px 0px 0 0px;
    width: calc(100% + 0px);
    position: fixed;
    top: calc(100vh - 95px);
    left: 0;
    z-index: 10;
  }

  .main_wrap_bottom_line {
    width: 1px;
    height: 20px;
    background: #C3A790;
  }

  .main_wrap_bottom_button {
    background: linear-gradient(180deg, #FCBD3F 0%, #F23B34 70.6%);
    border: 1px solid #FFFFFF;
    border-bottom: none;
    border-radius: 72px;
    width: 86px !important;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -45px;
  }

  .main_wrap_bottom_button span {
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 4px;
  }

  .main_wrap_bottom a {
    width: 40px;
    text-decoration: none;
    color: #553216;
    font-size: 16px;
    text-align: center;
  }

  .main_wrap_detals {
    left: initial;
    right: 90px;
  }

  .pop_detals {
    top: 410px;
    width: 450px;
  }



  .pop_win_box {
    width: 256px;
    top: 290px;
    padding: 34px 24px;
  }

  .pop_win_box_item_box i img {
    width: 40px;
    height: 40px;
  }

  .pop_win_box_item_box {
    height: 24px;
  }

  .pop_win_box_item_box i {
    position: absolute;
    top: -8px;
    left: -8px;
  }

  .pop_win_lenta {
    width: 300px;
    top: 260px;
  }

  .pop_win_ura {
    width: auto;
    height: 400px;
    top: 0px;
  }

  .tasks_header {
    margin-top: 20px;
    transform: scale(.6);
    margin-bottom: 5px;
  }

  .tasks_box {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .tasks_box_item {
    margin-bottom: 12px;
    width: 100%;
    padding: 6px 12px;
    height: 56px;
  }

  .tasks_box_item i {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }

  .tasks_box_item i svg {
    width: 17px;
    height: 18px;
  }

  .tasks_box_item_body span {
    font-size: 16px;
    line-height: 100%;
  }

  .tasks_box_item_body p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 4px;
  }

  .board_wrap {
    padding: 0 15px;
    width: auto;
    margin-bottom: 170px;
  }

  .board_box {
    padding: 0 15px;
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 530px) {
  .slick-slide.slick-current.slick-active+.slick-slide.slick-active img.img_anim {
    transform: scale(1.8);
    opacity: 1;
    z-index: 10;
    filter: blur(0px);
  }

  .main_wrap_box_sliderBallons_nav {
    height: 32px;
    top: 240px;
  }

  .main_subtittle {
    margin-top: 0px;
    font-size: 26px;
    line-height: 26px;
    padding-top: 16px;
    -webkit-text-stroke: 2px #F66532;
  }

  .main h1 {
    font-size: 34px;
    line-height: 34px;
    margin-top: 10px;
    -webkit-text-stroke: 2px #FFFFFF;
    text-stroke: 2px #FFFFFF;
  }

  .main_wrap_box {
    width: 290px;
    height: 500px;
  }

  .main_wrap {
    height: 500px;
    margin-top: 0px;
  }

  .main_wrap_box_sliderBallons {
    height: 550px;
    padding-top: 00px;
  }

  .main_wrap_box_sliderBallons_nav div,
  .main_wrap_box_sliderCoin_nav div {
    width: 32px;
    height: 32px;
  }

  .main_wrap_box_sliderBallons_item {
    height: 550px;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    padding-top: 90px;
  }

  .slick-slide.slick-active img.img_anim {
    transform: scale(0.4) translateY(60px);
    opacity: .56;
    filter: blur(3px);
  }

  .main_wrap_box_sliderCoin {
    margin-top: -115px;
  }

  .main_wrap_box_sliderCoin_nav {
    bottom: 45px;
  }

  .main_wrap_box_sliderCoin_item_box_info {
    margin-top: 2px;
  }

  .main_wrap_box_sliderCoin_item_box {
    border-radius: 72px;
    width: 88px;
    height: 38px;
    transition: .3s;
  }

  .main_wrap_box_sliderCoin_item_box img {
    width: 16px;
    height: 16px;
  }

  .main_wrap_box_sliderCoin_item_box_info p {
    font-size: 12px;
  }

  .main_wrap_box_sliderCoin_item_box_info svg {
    width: 12.5px;
    height: 12.5px;
  }

  .main {
    padding-bottom: 00px;
    height: calc(100vh - 70px);
    height: calc(var(--app-height) - 70px);
  }

  .main_wrap_bottom {
    padding: 0 35px;
    bottom: 0px;
  }

  .main_wrap_cloud.cloud3 {
    display: none;
  }

  .slick-slide.slick-active img.img_anim {
    transform: scale(.5) translateY(90px);
    width: 97px;
    height: auto;
  }

  .slick-slide.slick-current.slick-active+.slick-slide.slick-active img.img_anim {
    transform: scale(2.2);
    opacity: 1;
    z-index: 10;
    filter: blur(0px);
  }

  .main_wrap_detals {
    left: initial;
    right: 90px;
    width: 20px;
    height: 20px;
    top: 90px;
  }

  .main_wrap_detals svg {
    height: 9px;
  }

  .pop_detals {
    top: 290px;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    border-radius: 46px;
    font-size: 14px;
  }

  .pop_game_wrap_ballons_item_box_ballons {
    width: 40px;
  }

  .pop_game_wrap_ballons_item_box_rating p {
    font-size: 10px;
    margin-left: 4px;
  }

  .pop_game_wrap_ballons_item_box_info {
    padding: 8px 5px;
    min-width: 40px;
    height: 66px;
  }

  .pop_game_wrap_ballons_item_box_info div:nth-child(2) {
    flex-direction: column;
    justify-content: flex-end;
    height: 20px;
    position: relative;
    margin-top: 5px;
  }

  .high .pop_game_wrap_ballons_item_box_info div span {
    top: 0px;
    position: absolute;
  }

  .low .pop_game_wrap_ballons_item_box_info div span {
    top: -5px;
    position: absolute;
  }

  .pop_game_wrap_ballons_item_box_info div p {
    margin-left: 0px;
    font-size: 10px;
  }

  .pop_game_wrap_ballons_item {
    height: 167px;
  }

  @supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

  .pop_game_wrap {
    height: calc(100vh - 32px);
  }

  .pop_game_ob3 {
    bottom: 290px;
    left: initial;
    right: 0px;
    transform: scale(.7);
  }

  .pop_game_ob2 {
    top: 220px;
    right: 20px;
    transform: scale(.8);
  }

  .pop_game_ob1 {
    top: 290px;
    left: -40px;
    transform: scale(.6);
  }

  .pop_game_countdown {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
  }

  .pop_game_countdown_box {
    width: 56px;
    height: 56px;
  }

  .pop_game_countdown_box img {
    width: 10px;
  }

  .pop_game_countdown span {
    font-size: 18px;
    line-height: 18px;
    margin: 0 3px;
    -webkit-text-stroke: 1px #F2705C;
    text-stroke: 1px #F2705C;
  }

  .pop_game_countdown.active {
    transform: scale(.44);
    left: calc(100% - 100px);
    top: -5px;
  }

  .pop_game_countdown.active span {
    font-size: 30px;
  }

  @keyframes moveOb3 {
    0% {
      bottom: 290px;
    }

    100% {
      bottom: -200px;
    }
  }

  .pop_game_ob1_1 {
    left: -40px;
  }

  .pop_game_ob3_1 {
    right: 30px;
    transform: scale(.7);
  }

  .pop_game_ob3_1.active {
    animation: moveOb3_1 45s ease-in-out forwards 13s;
  }



  .pop_game_ob4_1 {
    left: 0px;
    transform: scale(1);
  }

  .leader_wrap_item {
    margin-bottom: 8px;
    height: auto;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
  }

  .leader_wrap_item_box {
    width: 100%;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(3) {
    flex-direction: row-reverse;
  }

  .leader_wrap_item_center {
    font-size: 28px;
    line-height: 28px;
    width: 50px;
    margin: 4px 0;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_range {
    margin-right: 12px;
    margin-left: 0px;
  }

  .leader_wrap_item .leader_wrap_item_box:nth-child(3) .leader_wrap_item_box_data {
    margin: 0 12px 0 6px;
  }

  .leader_box {
    flex-direction: column;
  }

  .leader_box_checkbox_wrap .leader_box_checkbox:nth-child(1) {
    margin-left: 0px;
  }

  .leader_box_checkbox {
    margin-left: 20px;
  }

  .leader_box_checkbox_wrap {
    margin-top: 8px;
  }

  .leader_box_data {
    max-width: 300px;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
  }

  .leader_box_data p {
    font-size: 12px;
    line-height: 35px;
    padding-left: 12px;
  }

  .leader_box_data i {
    position: absolute;
    top: 5px;
    right: 12px;
  }

  .faq_accordion {
    margin-top: 36px;
  }

  .faq_accordion_item_header i {
    font-size: 28px;
    line-height: 28px;
    -webkit-text-stroke: 2px #FFFFFF;
    text-stroke: 2px #FFFFFF;
    top: 10px;
    left: -30px;
  }

  .faq_accordion_item {
    margin-left: 30px;
    padding: 10px 12px;
    margin-bottom: 8px;
  }

  .faq_accordion_item_header {
    font-size: 18px;
    line-height: 18px;
    padding-right: 30px;
    padding-left: 0px;
  }

  .faq_accordion_item::after {
    width: 24px;
    height: 24px;
    top: 17px;
    right: 12px;
  }

  .faq_accordion_item::before {
    top: 19.5px;
    right: 19px;
    font-size: 20px;
    line-height: 20px;
  }

  .open.faq_accordion_item::before {
    top: 18.5px;
    right: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  .faq_accordion_item_body {
    margin-top: 15px;
    padding: 5px 12px 12px 12px;
    font-size: 12px;
    line-height: 20px;
  }

  .faq_accordion_item_body p {
    margin-top: 16px;
  }

  .board_wrap_item_head div {
    width: 34px;
    height: 34px;
  }

  .board_wrap_item_head div::after {
    width: 55px;
    height: 55px;
  }

  .board_wrap_item_head div::before {
    width: 62px;
    height: 62px;
  }

  .board_wrap_item_head span {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 20px;
  }

  .board_wrap .board_wrap_item:nth-child(1) .board_wrap_item_body {
    height: 80px;
    top: 80px;
    padding-right: 15px;
  }

  .board_wrap .board_wrap_item:nth-child(2) .board_wrap_item_body {
    height: 120px;
    top: 140px;
  }

  .board_wrap .board_wrap_item:nth-child(3) .board_wrap_item_body {
    height: 50px;
    top: 110px;
    padding-left: 15px;
  }

  .board_wrap_item_body p {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    margin-left: 3px;
    margin-right: 3px;
  }

  .board_wrap_item_body span {
    -webkit-text-stroke: 1px #F68D2D;
    text-stroke: 1px #F68D2D;
    font-size: 16px;
    line-height: 16px;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .board_wrap_item_body img {
    width: 21px;
    height: 21px;
  }

  .board_wrap_item_body.first img {
    width: 45px;
    height: 38px;
  }

  .board_wrap {
    margin-bottom: 120px;
  }

  .board_box .faq_accordion_item i {
    font-size: 24px;
    line-height: 24px;
    top: 15px;
    left: -39px;
    -webkit-text-stroke: 1px #F68D2D;
    text-stroke: 1px #F68D2D;
  }

  .board_box .faq_accordion_item {
    margin-bottom: 8px;
    margin-left: 39px;
  }

  .faq_accordion_item .board_box_wrap:nth-child(3) p {
    font-size: 16px;
  }

  .faq_accordion_item .board_box_wrap:nth-child(3) span {
    font-size: 12px;
  }

  .audio_control {
    right: 5px;
    top: initial;
    bottom: 55px;
    height: 24px;
  }
  .audio_control.game {
    right: 97px;
    top: 12px;
    bottom: initial;
    height: 24px;
  }

  .audio_control span{
    font-size: 14px;
    line-height: 14px;
    -webkit-text-stroke: 0.8px #FFFFFF;
    text-stroke: 0.8px #FFFFFF;
  }

  .pop_game_wrap_avatar_item::after {
    bottom: -25px;
    height: 4px;
  }

  .pop_game_wrap_avatar_item {
    padding-bottom: 7px;
  }


}

@media (max-width: 460px) {
  .main_wrap_bottom a {
    font-size: 10px;
  }

  .main_wrap_bottom_button {
    width: 56px !important;
    height: 72px;
    margin-top: -25px;
  }

  .main_wrap_bottom_button span {
    margin-top: 2px;
    font-size: 10px;
  }

  .main_wrap_bottom_button img {
    width: 24px;
    height: 16px;
  }

  .slick-slide.slick-current.slick-active+.slick-slide.slick-active img.img_anim {
    transform: scale(1.9);
    opacity: 1;
    z-index: 10;
    filter: blur(0px);
  }

  .main_wrap_box {
    height: 400px;
  }

  .main_wrap_box_sliderBallons {
    height: 400px;
  }

  .main_wrap_box_sliderBallons_item {
    height: 400px;
    padding-top: 90px;
  }

  .slick-slide.slick-active img.img_anim {
    transform: scale(.4) translateY(60px);
    width: 97px;
    height: auto;
  }

  .main_wrap_box_sliderBallons_nav {
    top: 150px;
  }

  .main {
    padding-bottom: 00px;
  }

  .main_wrap_bottom {
    padding: 0 15px;
    bottom: 00px;
  }

  .main_wrap_box_sliderCoin_nav {
    bottom: 95px;
  }

  .main_wrap_cloud.cloud2 {
    top: 90px;
    right: 30px;
    opacity: 1;
    width: 150px;
  }

  .main_wrap_detals {
    left: initial;
    right: 60px;
    width: 20px;
    height: 20px;
    top: 50px;
  }

  .pop_detals {
    top: 270px;
    max-width: 320px;
    width: 100%;
    padding: 15px;
    border-radius: 36px;
    font-size: 12px;
  }

  .leader h1 {
    font-size: 42px;
    line-height: 100%;
    margin-top: 30px;
  }

  .leader_box {
    margin-top: 30px;
  }

  .tasks_box_item_body span {
    font-size: 12px;
  }

  .tasks_box_item_body p {
    font-size: 10px;
  }

  .pop_up {
    padding: 0 24px 24px 24px;
    min-width: 280px;
    max-width: 280px;
  }

  .pop_up_head {
    width: calc(100% - 48px);
    left: 24px;
  }

}

@media (max-width: 380px) {
  .main_wrap_box_sliderBallons {
    height: 400px;
  }

  .main_wrap_box {
    height: 360px;
  }

  .main_wrap {
    height: 400px;
    margin-top: 0px;
  }

  .main_wrap_box_sliderCoin_nav {
    bottom: 25px;
  }

  .main_wrap_box_sliderCoin {
    margin-top: -85px;
  }
}

@media (max-width: 360px) {
  .main_subtittle {
    font-size: 24px;
    line-height: 24px;
    padding-top: 10px;
  }

  .main h1 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 5px;
  }

  .main_wrap {
    margin-top: 30px;
    height: 350px;
  }

  .slick-slide.slick-current.slick-active+.slick-slide.slick-active img.img_anim {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
    filter: blur(0px);
  }

  .main_wrap_box {
    width: 270px;
    height: 500px;
  }

  .main_wrap_box_sliderCoin {
    margin-top: -125px;
  }

  .main_wrap_box_sliderCoin_nav {
    bottom: 205px;
  }

  .main_wrap_detals {
    left: initial;
    right: 60px;
    width: 20px;
    height: 20px;
    top: 20px;
  }

  .main_wrap_cloud.cloud2 {
    top: 40px;
    right: 20px;
    opacity: 1;
    width: 150px;
  }

  .pop_detals {
    top: 250px;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border-radius: 36px;
    font-size: 12px;
  }
}